/*
 * Description: Stylesheet revealjs presentation
 * Author:      Christoph Stoettner
 * Email:       christoph.stoettner@stoeps.de
 **/
@import "_variables.scss";
@import url(../reveal.js/css/theme/white.css);

.reveal {
  font-family: /*$font0,*/ $font1, $font2, $font-family;
  font-weight: normal;
  color: #222;
  .slide {
      width: 1280px !important;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: -54px 0 0 0 !important;
    clear:both;
    color: #222;
    font-family: /*$font0,*/ $font1, $font2, $font-family;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: none !important;
    text-shadow: none;
    word-wrap: break-word;
  }
  p {
    margin: 16px 0;
    line-height: 1.2;
  }
  h1 {
    font-size: 2em;
    color: $heading-color;
    margin-top: 2em !important;
  }
  h2 {
    font-size: 1.5em;
    margin-bottom: 12px;
  }
  div.paragraph {
      text-align: left;
  }
  small {
    font-size: 1em;
  }
  section img {
    border: 0px !important;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
  }
  ul ul {
    list-style-type: circle;
  }
  pre {
    width: 100%;
    margin: 16px auto;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0);
    border: 1px solid $src-border-color;
    border-radius: 5px;
    background-color: $src-bg-color;
    code {
      font-family: $font-mono0, $font-mono-family;
      border-radius: 4px;
      font-size: 0.8em;
      padding-left: 1em;
      color: $src-color;
      line-height: 1.4em;
      max-height: 600px;
      word-wrap: break-word;
      padding: 5px;
      padding-left: 20px;
    }
  }
  #subtitle h2 {
    color: black !important;
    text-align: center;
    margin-top: 10px !important;
    font-size: 1.2em;
  }
  .slide-number {
    color: $slidenum-color;
    padding: 10px;
    width: 1em;
    height: 1em;
    text-align: center;
    z-index: 0;
    border-radius: 16px;
    background-color: $slidenumbg-color;
    left: 8px;
  }
  .controls {
    color: $control-color;
    right: 20px;
    bottom: 60px;
  }
  .admonitionblock{
      border: 1px solid $slidenum-color;
      border-radius: 10px;
      background-color: #F7F8E0;
      padding: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .warning {
      color: $warning-color;
      border-color: $warning-color;
  }
  .caution {
      color: $caution-color;
      border-color: $caution-color;
  }
  .important {
      color: $important-color;
      border-color: $important-color;
  }
  .note {
      color: $note-color;
      border-color: $note-color;
  }
  .tip {
      color: $tip-color;
      border-color: $tip-color;
  }
  .olist {
      text-align: left;
  }
  .imageblock {
      /* float: left; */
      margin-right: 30px;
  }
  .listingblock {
      clear: both;
      .title {
          font-size: 0.9em;
          text-align: left;
      }
  }
  .third {
      width: 30%;
      float: left;
      margin-left: 20px;
  }
  .half {
      width: 50%;
      float: left;
      margin-left: 20px;
  }
  .quad {
      width: 75%;
      float: left;
  }
  .topmargin {
      margin-top: 65px;
  }
  .clear {
      clear: both;
  }
  .left {
      float: left;
  }
  .leftsmall {
      float: left;
      width: 40%;
      font-size: 0.7em;
  }
  .right {
      float: right;
  }
  .colist.arabic {
      margin: 0;
      margin-top: 20px;
      table {
          margin: 0;
          text-align: left;
          tr, td {
              margin: 0;
              text-align: left;
              border: 0;
              font-size: 0.8em;
              padding-top: 0;
          }
          td {
              padding-bottom: 3px;
          }

      }
  }
}

#stoeps-footer {
  position: absolute;
  display: table;
  width: 100%;
  height: 30px;
  bottom: 0;
  font-size: 0.5em !important;
  color: $footer-color;
  border-top: 2px solid $footerborder-color;
  background-color: $footerbg-color;
  padding-top: 10px;
  z-index: -1;
  a {
      float: right;
      right: 4px;
      bottom: 4px;
      width: 93px;
  }
  .element {
      width: 33%;
      text-align: center;
      vertical-align: middle;
  }
}

.footer span {
  display: table-cell;
  padding: 0px 15px 5px;
  text-align: left;
}

section h2 {
  color: $heading-color !important;
  text-align: left;
}

section[data-state="topic"] h2 {
  font-size: 3em;
  color: black !important;
  text-align: center;
  position: fixed;
  top: 10px;
}

td.valign-top {
  vertical-align: top;
}

#contact {
  font-size: 16px;
  font-family: roboto;
  position: absolute;
  left: 0;
  margin-top: 10px;
  p {
    line-height: 1.5em;
  }
  a {
    &:link, &:visited, &:hover, &:active {
      color: #000;
    }
  }
}

#author {
  margin-top: 2em;
  p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
  }
}

.slide-background.present, .slide-background-content {
  background-position: top right !important;
  &[data-background-size='cover'] {
    background-position: top left !important;
  }
}

.ulist {
  text-align: left;
}

/* Callout formats */
.conum[data-value] {
  display: inline-block;
  color: #fff !important;
  background-color: rgba(50, 150, 50, 0.8);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  font-size: .75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-family: "Open Sans","DejaVu Sans",sans-serif;
  font-style: normal;
  font-weight: bold;
  * {
    color: #fff !important;
  }
  + b {
    display: none;
  }
  &:after {
    content: attr(data-value);
  }
}

pre .conum[data-value] {
  position: relative;
  top: -.125em;
}

b.conum * {
  color: inherit !important;
}

.conum:not([data-value]):empty {
  display: none;
}
a.long {
    font-size: 0.8em;
}
